@import "./../../styles/responsive.scss";

.chartbox {
  display: flex;
  height: 100%;
  gap: 10px;

  @include sm {
    flex-direction: column;
  }

  .box-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include sm {
      gap: 20px;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        font-size: 14px;
        font-weight: 500;
      }

      @include xxl {
        font-size: 14px;
      }
    }

    h1 {
      font-size: 24px;
      font-weight: bold;

      @include xxl {
        font-size: 20px;
      }
    }

    .view {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .chart-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chart {
      width: 100%;
      height: 100%;
    }

    .texts {
      display: flex;
      flex-direction: column;
      text-align: right;

      .percentage {
        font-weight: bold;
        font-size: 20px;

        @include xxl {
          font-size: 16px;
        }
      }

      .duration {
        font-size: 14px;
      }
    }
  }
}
