.datatable {
  .data-grid {
    background-color: white;
    padding: 20px;

    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }

    .img-user {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }

    .img-product {
      width: 32px;
      height: 32px;
      object-fit: cover;
    }

    .action {
      display: flex;
      gap: 15px;

      .img-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}
